:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.main-heading {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.main-heading h3 {
    font-size: 40px;
    font-weight: normal;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.main-heading h3::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #333;
    bottom: -30px;
    transform: translateX(-50%);
    left: 50%;
}

.main-heading h3::after {
    content: "";
    position: absolute;
    bottom: -38px;
    transform: translateX(-50%);
    left: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: 3;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 99px;
}

header .container .logo img{
    height: 40px;
}

header nav ul li a.active,
header .container ul a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .container ul {
    display: flex;
    align-items: center;
    z-index: 1;
}

header .container nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

header .container .toggle-menu {
    color: white;
    font-size: 22px;
}

header .container ul a {
    color: white;
    padding: 40px 10px;
    display: block;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

@media (min-width: 768px) {
    .toggle-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    header .container ul  {
        display: none;
    }

    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
        align-items: flex-start;
    }
    header .container ul li {
        width: 100%;
    }
    header .container ul li a{
        padding: 15px !important; 
    }
}

header .container .search i{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

header .container .search {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header .container::after {
    content: "";
    background-color: #a2a2a2;
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    left: 15px;
    bottom: 0px;
}

.landing {
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .content {
    position: absolute;
    width: 50%;
    top: 50%;
    padding: 50px;
    transform: translateY(-50%);
    color: white;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}

.landing .content .text {
    width: 500px;
}

.landing .content .text h3 {
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 32px;
}

.landing .content .text p {
    line-height: 2;
    font-size: 14px;
}

.landing .arrow .change-background {
    color: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.landing .arrow .change-background.right {
    right: 30px;
}

.landing .arrow .change-background.left {
    left: 30px;
}

@media (max-width: 767px) {
    .landing .content {
        width: 100%;
    }
    .landing .change-background {
        display: none;
    }
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.landing .bullets ul {
    display: flex;
}

.landing .bullets ul li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.services .container {
    text-align: center;
    margin-bottom: 70px;
}

.services .service {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.services .service .text h3 {
    color: #19c8fa;
    margin-bottom: 45px;
}

.services .service .text p {
    line-height: 2;
    color: #777;
}

@media (max-width: 767px) {
    .services .service {
        flex-direction: column;
        gap: 30px;
    }
    .services .service .text p {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .services .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
    .services .container {
        text-align: start;
    }
    .services .service .text h3 {
        color: #19c8fa;
        margin-bottom: 45px;
    }

    .services .service {
        margin-right: 50px;
    }
}

.design {
    background-image: url(../imgs/design-features.jpg);
    background-size: cover;
    height: 600px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .text {
    width: 50%;
    top: 50%;
    padding: 50px;
    transform: translateY(-50%);
    color: white;
    background-color: var(--transparent-color);
}

.design .text h3 {
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.design .text ul li {
    margin: 25px 0px;
}

.design .text ul li::before {
    content: "\f108";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 30px;
    position: relative;
    top: 2px;
}

.design .image {
    text-align: center;
    bottom: -150px;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

.portfolio {
    padding-bottom: 100px;
}

.portfolio ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.portfolio ul li {
    padding: 10px;
}

.portfolio ul .active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .images {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .images .box {
    position: relative;
    overflow: hidden;
}

.portfolio .images .box img {
    max-width: 100%;
    transition: 0.3s;
}

@media (min-width: 768px) {
    .portfolio .images .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1200px) {
    .portfolio .images .box {
        flex-basis: 25%;
    }
}

.portfolio .images .box .text {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100px;
    
}

.portfolio .images .box:hover .text {
    bottom: 0;
}

.portfolio .images .box:hover img {
    transform: scale(1.1) rotate(3deg);
}

.portfolio .images .text h3 {
    margin-bottom: 20px;
    font-weight: normal;
}

.portfolio .images .text p {
    color: var(--main-color);
}

.portfolio .more-button {
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    padding: 15px 20px;
    margin: 30px auto;
    display: block;
    width: fit-content;
    text-transform: uppercase;
}

.video-section {
    position: relative;
}

.video-section video {
    width: 100%;
}

.video-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video-section .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--transparent-color);
    color: white;
    padding: 50px;
    width: 100%;
    text-align: center;
}

.video-section .text h3 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 28px;
    text-transform: uppercase;
}

.video-section .text p {
    margin-bottom: 30px;
}

.video-section .text button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
}